.repos:hover{
    background-color: #057e1f;
    border-radius: 5px;
    color: rgb(93, 77, 107);
    font-size: x-large;
    }
    a{
        text-decoration: none;
        margin-left: 5rem;
    }
    .jumbotron{
        border:2px solid grey;
        border-radius: 10px;
        padding: 20px;
    }
    .bio{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
        font-weight: 600;
    }
    .mySearchForm{
        margin: 20px;
    }
    .navbar-brand{
        font-size: 2rem;
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(116, 7, 29);
        
    }
    .navbar {
        margin-top: 20px;
        border-radius: 5px;
    }